body{
    font-size: xx-large;

}

.container {
    display: grid;
    grid-template-columns: repeat(4,50px);
}

.button {
    height: 30px;
    border: solid;
    margin: 1px;
}

.backspace {
    padding-top: 5px;
    width: 200px;
    border: solid;
    font-size: 20px;
}
.del {
    padding: 1px;
}
.log{
    margin-top: 20px;
    height: 20px;
    border: solid 1px black;
    margin-left: 2px;
    width: 190px;
}

.display {

    margin-left: 1px;
    width: 189px;
    height: auto;
    border: solid;
    height: 50px;
}
