#app {
    width: 100%;
    height: 96vh;
}
h1 {
    margin-left: 780px;
}

.border {
    border: solid 1px black;
}

.pic_box {
    width: 120px;
    display: block;
    padding-left: 15px;
    background-color: green;
    margin-left: 550px;
    margin-top: 10px;

}
.historyCont{
    border: solid white;
    float: right;
    width: 500px;
    height: 300px;
    color: white;
    overflow: scroll;
    background-color: rgb(54, 50, 50);
    opacity: 80%;
}
.background-img {
    background-image: url(./img/bossRom.jpeg);
}


.vs {
    margin-left: 850px;
    font-size: 100px;
    margin-top: -350px;
}

.bowser {
    margin-left: 1150px;
    margin-top: -200px;
    border: solid;
    width: 300px;
    background-color: red;
    /* margin-left: 1500px; */
}

.chara-fight {
    width: 100px;
    margin-left: 250px;
    margin-top: 3px;
}

.boss-fight {
    width: 200px;
    margin-left: 1150px;
    margin-top: -50px;
}

.fight-cont {
    margin-top: 410px;
    display: flex;
    flex-direction: row;
}

.hp {
    font-size: xx-large;
    color: white;
}

.item {
    background-color: rgb(59, 46, 46);
    width: 50px;
}